body {
  --primary-color: var(--very-dark-magenta);
  --secondary-color: var(--soft-pink);
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: "Spartan";
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/bg-pattern-top-desktop.svg) no-repeat left top,
    url(./images/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3rem 0;
}

#headline {
  flex-basis: 40%;
}

.primary-heading {
  font-size: 3rem;
  color: var(--primary-color);
}

.lead {
  color: var(--dark-grayish-magenta);
}

#ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

.rating-card {
  background-color: var(--light-grayish-magenta);
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: 350px;
}

.rating-card:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 1.2rem;
  color: orange;
  margin-right: 1rem;
}

.rating-card:first-child {
  align-self: flex-start;
}

.rating-card:last-child {
  align-self: flex-end;
}

#testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  margin-bottom: 3rem;
}

.testimonial-card {
  background-color: var(--very-dark-magenta);
  color: var(--light-grayish-magenta);
  padding: 2rem;
  flex-basis: 25%;
  border-radius: 0.5rem;
}

.testimonial-card:first-child {
  align-self: flex-start;
}

.testimonial-card:last-child {
  align-self: flex-end;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.person-name,
.person-title {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.person-title {
  color: var(--soft-pink);
}

.card-body {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 960px) {
  #hero,
  #testimonials {
    flex-wrap: wrap;
    justify-content: center;
  }
  #headline,
  #ratings {
    flex-basis: auto;
  }
  .testimonial-card {
    flex-basis: 50%;
    margin-bottom: 1rem;
  }

  .primary-heading,
  .lead {
    text-align: center;
  }
  .rating-card,
  .testimonial-card,
  .testimonial-card:first-child,
  .testimonial-card:last-child,
  .rating-card:first-child,
  .rating-card:last-child {
    align-self: center;
  }
}
